.league-gothic-heading {
  font-family: "League Gothic", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.lora-subheading {
  font-family: "Lora", serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.open-sans-sidebar {
  font-family: "Open Sans", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-variation-settings:
    "wdth" 100 !important;
  text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3) !important; /* white shadow, subtle */
}

.no-border {
  border-radius: 0% !important;
}