.museomoderno-title {
  font-family: "MuseoModerno", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
  color: #3bb371;
}

.leckerli-one-regular {
  font-family: "Leckerli One", cursive !important;
  font-weight: 400 !important;
  font-style: normal !important;
  color: #FFFFFF;
}